body {
  margin: 0;
  padding: 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.arrayElement
{
  display: inline-block;
  border: 1px solid transparent;
  margin: 5px;
  padding: 3px 5px;
  font-style: normal;
  line-height: 1em;
  transition: border-color .3s ease-in;
  position: relative;
}

.arrayElement.moving
{
  border-style: dashed;
}

.arrayElement.arrowRight:after,
.arrayElement.arrowLeft:after
{
  content: '→';
  position: absolute;
  top: -100%;
  left: 0;
}

.arrayElement.arrowLeft:after
{
  content: '←';
}

.arrayElement.arrowRight,
.A
{
  color: red;
  font-weight: 800;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
}

.arrayElement.arrowLeft,
.B
{
  color: blue;
  font-weight: 800;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: black;
}

.operand
{
  position: relative;
}
